@model IEnumerable<Test>

@{
    ViewBag.Title = "All tests";
}

<h2>Select a test from below, enter your name, and click or tap the "Start Test" button to start the test</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">@item.TestName</div>

                <div class="panel-body">
                    @item.Questions.Count question(s) <hr />
                    @item.MarksPerQue marks per question
                </div>

                <div class="panel-footer">
                    @using (Html.BeginForm("Index", "StartTest", new { id = item.TestId }))
                    {
                        <input data-val="true" data-val-required="full name must be filled in" id="textBoxName" type="text" name="name" class="form-control text-info" placeholder="Enter your full name" />
                        <br />
                        @Html.HiddenFor(modelItem => item.TestId)
                        <button id="buttonSubmit"type="submit" class="btn-primary">Start Test</button>
                    }
                </div>
            </div>
        </div>
    }
</div>